<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/css/brickssheet.css"/>
</head>
<body>

<h1>BricksBreaking
    <a href="/bricks/new">New game</a><br>
</h1>

<h2>
    Your score: <p th:utext="${@bricksBreakingController.getScore()}"></p>
</h2>

<div class="game-panel">
    <div class="field"><span th:utext="${@bricksBreakingController.getHtmlField()}"></span></div>

</div>

</body>
</html>
