<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BricksBreaking</title>
    <link rel="stylesheet" href="/css/initsheet.css"/>
    <script type="text/javascript" src="/scripts/script.js"></script>
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">

</head>
<body>

<h1>BricksBreaking</h1>


<div class="content">
    <br>
    <h2>Enter size of field(from 1 to 20)<br> and your name</h2>
    <label for="n">Username</label><br>
    <input class="name" type="text" id="n"><br>
    <label for="w">Width</label><br>
    <input class="width" type="text" id="w"><br>
    <label for="h">Height</label><br>
    <input class="height" type="text" id="h"><br><br><br>
    <button class="button" onclick="create()" style="vertical-align: middle"><span>PLAY</span></button>
</div>

</body>
</html>